.loading {
  text-align: center;
  color: green;
}

.tours {
  color: black;
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  color: Blue;
  margin-bottom: 30px;
  text-align: center;
}

.title h1 {
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.tour-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
}

.tour {
  margin: 0 auto;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px 1px lightgray;
  padding-bottom: 15px;
}

img {
  width: 100%;
  max-height: 350px;
}

p {
  padding-left: 15px;
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}

p button {
  background-color: white;
  border: none;
  outline: none;
  color: blue;
}

.delete-btn {
  margin: 0 auto;
  width: 50%;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
  outline: none;
}

.tour-price {
  color: darkgray;
}

.no-tours {
  text-align: center;
  color: darkgray;
}
